.general-container-messages {
  /* border: 2px solid blue; */
  margin: 5%;
  padding: 5%;
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
  border-radius: 3%;
  width: 90%;
  /* margin: auto; */
  height: 20%;
  margin-top: 5%;
  /* background-color: white; */
}

.container-message-task {
  /* border: 1px solid #8a6fdf; */
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
  /* padding: 4%; */
  /* margin-bottom: 0%; */
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 4%;
  padding-bottom: 4%;
  /* margin: 4%; */
  margin-top: 5%;
  border-radius: 3%;
  background-color: white;
}

.container-message-task p {
  margin-bottom: 2px;
}

.containerreject-button {
  /* border: 2px solid yellow; */
  display: flex;
  /* padding: 3%; */
  justify-content: flex-end;
  margin-bottom: 5%;
  margin-top: 2%;
  padding-right: 2%;
}

.reject-button {
  padding: 10px 8px;
  border-radius: 6%;
  background-color: #8a6fdf;
  border: 2px solid #8a6fdf;
  font-size: 14px;
  color: #ffdb15;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
}

.message-title {
  /* border: 2px solid rgb(228, 13, 49); */
}

.body-message {
  background-color: #a8e10c;
}
