.container-profile {
  /* border: 2px solid green; */
  box-shadow: rgba(84, 70, 35, 0.15) 0px 2px 8px,
    rgba(84, 70, 35, 0.15) 0px 1px 3px, rgba(255, 255, 255, 0.5) 0px 0px 0px 1px;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 15%;
  padding: 4%;
  display: flex;
  align-content: center;
  flex-direction: column;
  height: 400px;
}

.list-profiletasks {
  /* border: 2px solid red; */
  font-size: 14px;
  display: flex;
  padding: 10px;
  background-color: white;
  border-radius: 4px;
  margin-bottom: 6px;
  width: 100%;
  box-shadow: rgba(84, 70, 35, 0.15) 0px 2px 8px,
    rgba(84, 70, 35, 0.15) 0px 1px 3px, rgba(255, 255, 255, 0.5) 0px 0px 0px 1px;
}

.hello-container {
  /* border: 2px solid green; */
  padding: 2%;
}

.your-tasks {
  /* border: 2px solid red; */
  padding: 2%;
}

.back-container {
  /* border: 2px solid rgb(209, 196, 209); */
  display: flex;
  justify-content: flex-end;
}

.back-button {
  padding: 5px 10px;
  border-radius: 6%;
  background-color: #8a6fdf;
  border: 2px solid #8a6fdf;
  font-size: 14px;
  margin-top: 2%;
  display: flex;
  margin-right: 3%;
  color: #ffdb15;
  font-weight: bold;
}

.plus-button {
  /* border: 2px solid blue; */
  padding: 3px 8px;
  border-radius: 8%;
  background-color: #ffdb15;
  border: 2px solid #ffdb15;
  font-size: 14px;
  margin-top: 2%;
  display: flex;
  /* margin-right: 3%; */
  color: #ff5765;
  font-weight: bold;
  margin: 4px;
  /* justify-content: flex-end; */
}

.tasks-list {
  /* border: 2px solid fuchsia; */
  width: 90%;
  margin-right: 2%;
}

.back-container {
  /* border: 2px solid blue; */
  margin-top: 2%;
}

.profile-tasks {
  /* border: 2px solid violet; */
  width: 100%;
  margin-top: 0%;
}
