.container-profile {
  box-shadow: rgba(84, 70, 35, 0.15) 0px 2px 8px,
    rgba(84, 70, 35, 0.15) 0px 1px 3px, rgba(255, 255, 255, 0.5) 0px 0px 0px 1px;
  margin: 4%;
  padding: 4%;
}

.hello-container {
  /* border: 2px solid green; */
  padding: 2%;
}

.your-tasks {
  /* border: 2px solid red; */
  padding: 2%;
}

.back-container {
  /* border: 2px solid rgb(209, 196, 209); */
  display: flex;
  justify-content: flex-end;
}

.back-button {
  padding: 5px 10px;
  border-radius: 6%;
  background-color: #ff5765;
  border: 2px solid #ff5765;
  font-size: 14px;
  margin-top: 2%;
  display: flex;
  margin-right: 3%;
  /* justify-content: flex-end; */
}
