.container-header {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 20px;
  height: 70px;
  background-color: #8a6fdf;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px;
}

.profile-button {
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  /* color: white; */
}

.logout-button {
  padding: 5px;
  border-radius: 6%;
  background-color: #8a6fdf;
  border: 2px solid #8a6fdf;
  /* font-size: 14px; */
  color: #ffdb15;
  font-weight: bold;
  border: none;
  /* display: flex;
  justify-content: flex-end; */
}

.user-link {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
  color: #ffdb15;
}
