.container-change {
  /* border: 2px solid blue; */
  padding: 10%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 3%;
  width: 90%;
  margin: auto;
  height: 20%;
  margin-top: 40%;
  background-color: white;
}

.container-titlechange {
  /* border: 2px solid red; */
  width: 100%;
  padding: 2%;
}

.select-task {
  /* border: 2px solid pink; */
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
}

.select-task select {
  /* border: 1px solid #ffdb15; */
  width: 100%;
  padding: 4%;
  margin: 2%;
  /* font-weight: bold; */
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
  /* border: none; */
  width: 80%;
  text-align: center;
}

.body-change {
  background-color: #a8e10c;
}

.container-willingtodo {
  /* border: 2px solid yellow; */
  margin-top: 3%;
}

.general-container {
  /* border: 2px solid fuchsia; */
  width: 100%;
}

.button-change {
  /* border: solid 2px red; */
  /* padding: 10px 10px; */
  width: 100%;
  border-radius: 6%;
  background-color: #8a6fdf;
  border: 2px solid #8a6fdf;
  font-size: 14px;
  color: #ffdb15;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  margin-top: 10%;
  padding: 8% 15%;
}

.textArea {
  /* border: solid 2px orange; */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.textArea textarea {
  border: 1px solid #ffdb15;
  display: flex;
  padding: 10%;
}

.container-button-change {
  /* border: solid 2px blue; */
  display: flex;
  justify-content: flex-end;
  margin-top: 7%;
  /* padding: 5%; */
}
