.container-setup {
  padding: 10%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 3%;
  width: 80%;
  margin: auto;
  height: 10%;
  margin-top: 45%;
  background-color: white;
}

/* padding: "40px",
          borderRadius: "10px",
          boxShadow: "0px 4px 10px rgba(0,0,0,0.1)",
          backgroundColor: "white",
          width: "400px",
          margin: "auto",
          marginTop: "100px", */

.button-group {
  padding: 10px 18px;
  border-radius: 6%;
  background-color: #8a6fdf;
  border: 2px solid #8a6fdf;
  font-size: 14px;
  color: #ffdb15;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  /* margin-top: 10%; */
}

.button-creategroup {
  padding: 10px 30px;
  border-radius: 6%;
  background-color: #8a6fdf;
  border: 2px solid #8a6fdf;
  font-size: 14px;
  color: #ffdb15;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  /* margin-top: 10%; */
}

.select-group {
  /* border: 2px solid red; */
  text-align: center;
  width: 100%;
  justify-content: center;
  margin-top: 5%;
}

.create-group {
  /* border: 2px solid blue; */
  text-align: center;
  margin-top: 7%;
}

.container-button-group {
  /* border: 2px solid orange; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-button-creategroup {
  /* border: 2px solid fuchsia; */
  display: flex;
  justify-content: center;
}

.body-creategroup {
  background-color: #ffdb15;
}

.container-create-newgroup {
  /* border: 2px solid orange; */
  padding: 10%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 3%;
  width: 80%;
  margin: auto;
  height: 10%;
  margin-top: 45%;
  background-color: white;
}

.container-create-newgroup label {
  /* border: 2px solid greenyellow; */
  width: 100%;
  margin-right: 2%;
  border-radius: 3%;
  margin-top: 4%;
  padding: 2%;
}

.container-create-newgroup input {
  /* border: 2px solid green; */
  width: 100%;
  border-radius: 3%;
  padding: 2%;
  border-color: white;
  margin-bottom: 5%;
}

.button-creategroup {
  padding: 10px 24px;
  border-radius: 6%;
  background-color: #8a6fdf;
  border: 2px solid #8a6fdf;
  font-size: 14px;
  color: #ffdb15;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
}

.button-backgroup {
  padding: 10px 24px;
  border-radius: 6%;
  background-color: #8a6fdf;
  border: 2px solid #8a6fdf;
  font-size: 14px;
  color: #ffdb15;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
}

.buttons-group {
  /* border: 2px solid lightblue; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 4%;
}

.body-createnewgroup {
  background-color: #ffdb15;
}

.body-existgroup {
  background-color: #ffdb15;
}

.container-current {
  /* border: 2px solid black; */
  padding: 5%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 3%;
  width: 80%;
  margin: auto;
  /* height: 40%; */
  margin-top: 55%;
  background-color: white;
}

.container-selectbuttons {
  /* border: 2px solid lightblue; */
  display: flex;
  flex-direction: column;
  padding: 2%;
  align-items: center;
}

.button-joingroup {
  padding: 10px 24px;
  border-radius: 6%;
  background-color: #8a6fdf;
  border: 2px solid #8a6fdf;
  font-size: 14px;
  color: #ffdb15;
  font-weight: bold;
  display: flex;
  /* justify-content: flex-end; */
}

.button-back {
  padding: 10px 22px;
  border-radius: 6%;
  background-color: #8a6fdf;
  border: 2px solid #8a6fdf;
  font-size: 14px;
  color: #ffdb15;
  font-weight: bold;
  display: flex;
  margin-top: 8%;
  /* justify-content: flex-end; */
}
