.body-signup {
  background-color: #ffdb15;
}

.container-signup {
  /* border: solid 2px red; */
  padding: 10%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 3%;
  /* margin: 2%; */
  width: 80%;
  margin: auto;
  height: 10%;
  margin-top: 30%;
  background-color: white;
}

.container-signup label {
  /* border: solid 2px red; */
  width: 100%;
  margin-right: 2%;
  border-radius: 3%;
  margin-top: 4%;
  padding: 2%;
}

.container-signup input {
  border: 1px solid #ffdb15;
  border-radius: 4%;
  width: 100%;
  padding: 2%;
  /* border-color: white; */
}

.button-signup {
  padding: 10px 18px;
  border-radius: 6%;
  background-color: #8a6fdf;
  border: 2px solid #8a6fdf;
  font-size: 14px;
  color: #ffdb15;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  margin-top: 10%;
}

.container-signup-button {
  /* border: solid 2px fuchsia; */
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2%;
}

.button-login {
  padding: 10px 20px;
  width: 100%;
  border-radius: 6%;
  background-color: #8a6fdf;
  border: 2px solid #8a6fdf;
  font-size: 14px;
  color: #ffdb15;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  margin-top: 10%;
}

.container-log {
  /* border: solid 2px green; */
  margin-top: 3%;
  padding: 1%;
  height: 1%;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  justify-content: center;
  align-items: center;
}

.text-log {
  /* border: solid 2px red; */
  margin: 0% 10%;
  padding: 0%;
  text-align: center;
}
