body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container-delete {
  /* border: 2px solid red; */
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.deleteTask-button {
  /* border: 2px solid violet; */
  width: 10%;
}

.random-button {
  /* border: 2px solid blue; */
  width: 10%;
}

.task-list {
  /* border: 2px solid green; */
  width: 20%;
  padding-top: 4px;
}

.container-allTasks {
  /* border: 2px solid blue; */
  margin-top: 2%;
}

.containerauth-buttons {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.auth-buttons {
  /* border: 2px solid pink; */
  width: 9%;
  display: flex;
  flex-direction: column;
  padding-top: 2%;
}

.signup-button {
  /* border: 2px solid red; */
  display: flex;
  width: 100%;
  justify-content: center;
}

.login-button {
  /* border: 2px solid greenyellow; */
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 8%;
}

.group-button {
  /* border: 2px solid greenyellow; */
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 8%;
}

/* .login {
  background-color: pink;
} */

/* .home {
  background-color: yellow;
} */
